#root {
  height: 100%;
}

.page {
  height: 100%;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  top:0;
  border: none;
}

#exampleImg {
  width: 100%;
  height: auto;
}
.jumbotron {
  margin: 5em auto;
  padding: 50px;
  background-color: gainsboro;
  border-radius: 1em;
}

#home,#Page{
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
}